body{
  background: -moz-linear-gradient(top, #232f3e 15%, #f6f6f6 50%);
  background: -webkit-linear-gradient(top, #232f3e 15%, #f6f6f6 50%);
  background: linear-gradient(to bottom, #232f3e 15%, #f6f6f6 50%);
  min-width: 650px;
    .header{
    height: 55px;
    width: 100%;
    padding: 0 150px;
    background-color: #232f3e;
    border: 1px solid;
    border-bottom-color: #fff;
    &__title{
      font-size: 30px;
      line-height: 56px;
      &--text{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}    
