.form-require {
  background-color: #232f3e;;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  vertical-align: top;
  font-weight: 600;
}
.select-wrap {
  margin: 20px 0px;
}
.head_color{
  border-bottom: 3px inset;
  border-style:#f6f6f6;
}
