.main{
  background-color: #fff;
  height: 600px;
  width: 70%;
  overflow: scroll;
  margin-top:20px;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;
}

$color1:  #F0DDC3;
$color2:  #000000;
//中止位置を割り出す為のSCSS 同じ記述がたくさんある為、定義した
.center1{
  align-items: center; //下記3つで中央に持ってくる
  display: flex;
  flex-direction: column;
}

//頭の部分のscss
.main_head{
  border-bottom: 1px solid #f6f6f6;
  margin-top: 30px;
  @extend .center1;
}      
.head-up{
	display: inline-block;
	width: 100px;
	height: 40px;
	border-radius: 50% / 70% 70% 0 0;
  border:1px #000000;
  border-style: solid; border-width: thin;
}
#head_color{
  background-color: black;
}
.head-down{
	display: inline-block;
	width: 100px;
  height: 70px;
	border-radius:50%/ 0 0 80% 80%; //半円
  background: $color1;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

//上半身
$body_upper_height1: 100px; //ボディーとブランク高さを定義
.main_upper-body1{
  @extend .center1;
}
.upper_body{
  background: white;
}
#upper-body-center1{
  width: 200px;
  height: 30px;
  border-top-left-radius: 20px; //角丸の作成
  border-top-right-radius: 20px; //角丸の作成
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

//腕、胴、足の部位は同じ記述を使用する為、値を定義した。
.center2{
  display: flex;
  flex-direction: row;
  justify-content: center;  
}
.main_upper-body2 {
  @extend .center2
}
#upper-body-left{
  width: 40px;
  height: $body_upper_height1;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.blank_upper_left1 {
  width: 5px;
  height: $body_upper_height1;
  background-color: rgba(0,0,255,0);
  border-top-left-radius: 2px; //角丸の作成
  border-top-right-radius: 2px; //角丸の作成
  border-top: 1px solid black;
}
#upper-body-center2{
  width: 110px;
  height: $body_upper_height1;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.blank_upper_rigth1{
  width: 5px;
  height: $body_upper_height1;
  background-color: rgba(0,0,255,0);
  border-top-left-radius: 2px; //角丸の作成
  border-top-right-radius: 2px; //角丸の作成
  border-top: 1px solid black;
}
#upper-body-rigth{
  width: 40px;
  height: $body_upper_height1;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

//同じ記述がある為まとめた
$body_upper_height2: 20px; //ボディーとブランク高さを定義
.blank_upper2{
  width: 5px;
  height: $body_upper_height2;
  background-color: rgba(0,0,255,0)
}

.main_upper-body3{
  @extend .center2
}
.upper-left-hand{
  width: 40px;
  height: $body_upper_height2;
  border-radius:50%/ 0 0 100% 100%; //半円
  background: $color1;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.blank_upper_left2 {
  @extend .blank_upper2;
}
#upper-body-center3{
  width: 110px;
  height: $body_upper_height2;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.blank_upper_rigth2 {
  @extend .blank_upper2;
}
.upper-rigth-hand2{
  width: 40px;
  height: $body_upper_height2;
  background-color: rgba(0,0,255,0);
  border-radius:50%/ 0 0 100% 100%; //半円
  background: $color1;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

//足
$leg_height: 120px; 
.main_leg1{
  @extend .center1;
}
#leg-center{
  width: 110px;
  height: 40px;
  background: $color2;
  margin-top: 1px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.main_leg2{
  @extend .center2
}
#leg_left{
  width: 50px;
  height: $leg_height; 
  background: $color2;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.blank_leg_center{
  background-color: rgba(0,0,255,0);
  width: 10px;
  height: $leg_height
}
#blank_leg{
  border-top: 1px solid black;
}

#leg_rigth{
  width: 50px;
  height: $leg_height;
  background: $color2;
  border-left: 1px solid black;
  border-right: 1px solid black;
}


//靴
$shoes_height: 30px; 
.main_shoes{
  @extend .center2
}
.shoes#shoes_left{
  margin-top: 1px;
  width: 80px;
  height: $shoes_height;
  background: $color2;
  //| 左上 | 右上 | 右下 | 左下 |
  border-radius: 15px 0 3px 4px;
  border: 1px solid black;
}
.blank_shoes_center{
  margin-top: 1px;
  background-color: rgba(0,0,255,0);
  width: 10px;
  height: $shoes_height;
}
.shoes#shoes_rigth{
  margin-top: 1px;
  width: 80px;
  height: $shoes_height;
  background: $color2;
  //| 左上 | 右上 | 右下 | 左下 |
  border-radius: 0 15px 4px 3px;
  border: 1px solid black;
}

//投稿関連
.form{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exchange_bottun{
  color: white;
  background-color: #232f3e;
  border-radius: 100px;
  width: 300px;
  height: 40px;
  font-weight: bold;
}
 
.post_edit{
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit_bottun{
  margin-top:10px;
  color: white;
  text-align:center;
  line-height:30px;
  background-color: #232f3e;
  border-radius: 100px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  text-decoration: none;
}