.main_title{
  margin-bottom: 3px inset;
  border-style:#f6f6f6;
  text-align: center;
}

// #label{
//   margin-left: 10px;

// }

.form-require {
  background-color: #232f3e;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  vertical-align: top;
  font-weight: 600;
}
.select-wrap {
  margin: 20px 0px;
}
.head_color,.upper_body-color,.leg-color,.shose-color{
  padding-top: 10px;
  border-bottom: 3px inset;
  border-style:#f6f6f6;
}
.post{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_submit_bottun{
  color: white;
  background-color: #232f3e;
  border-radius: 100px;
  width: 200px;
  height: 30px;
  font-weight: bold;
  
}