.main
  .main_head
    .head-up#head_color
    .head-down
  .main_upper-body1
    .upper_body#upper-body-center1
  .main_upper-body2 
    .upper_body#upper-body-left
    .blank_upper_left1 
    .upper_body#upper-body-center2
    .blank_upper_rigth1
    .upper_body#upper-body-rigth
  .main_upper-body3
    .upper-left-hand
    .blank_upper_left2
    .upper_body#upper-body-center3
    .blank_upper_rigth2
    .upper-rigth-hand2
  .main_leg1
    .leg#leg-center
  .main_leg2
    .leg#leg_left
    .blank_leg_center#blank_leg
    .leg#leg_rigth
  .main_shoes
    .shoes#shoes_left
    .blank_shoes_center
    .shoes#shoes_rigth
  %form.form
    %input{type: "button", value:"更新" ,onclick:"effect1()", class: "form_index_bottun"}/
  .post_new
    = link_to "新規登録", new_product_path, class: "btn-default btn-gray"
  .post_edit
    = link_to "色編集", "/products/#{@products[0].id}/edit", class: "btn-default btn-gray"